.historiaPacman{
    width: 90vw;
    max-width: 90vw;
    line-height: 32px;
    text-align: justify;
}

.historiaPacman p::first-letter{
    margin-left: 30px;
}


@media(min-width: 700px){
    .historiaPacman{
        font-size: 20px;
    }
}